/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom CSS */

/* Remove after development */
* {
  /* border: 1px solid red; */
}

:root {
  --amber-100: oklch(0.987 0.022 95.277);
  --amber-100-darker: oklch(0.92 0.022 95.277);
  --amber-200: oklch(0.901 0.076 70.697);
  --amber-200-darker: oklch(0.834 0.076 70.697);
  --orange-100: oklch(0.954 0.038 75.164);
  --orange-200: oklch(0.901 0.076 70.697);
}

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  grid-template-columns: 18rem 1fr;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.sidebar {
  grid-column: 1 / 2;
  padding: 0.5rem;
  background-color: var(--amber-100);
  font-size: 1.2rem;
  box-shadow: 2px 0px 3px lightgrey;
}

div.logo {
  width: 5rem;
  background: gold;
  margin-bottom: 1rem;
}

.add-task {
  margin-bottom: 0.2rem;
}

.sidebar-item,
.add-task,
.project {
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.sidebar-item:hover,
.sidebar-item:focus,
.project:hover,
.project:focus,
.project:has(.project-delete-button:focus),
.add-task:hover {
  background: var(--amber-100-darker);
}

.sidebar-selected,
.sidebar-selected:focus {
  background-color: var(--amber-200);
}

.sidebar-selected:hover {
  background-color: var(--amber-200-darker);
}

.sidebar-items > li,
.project-list > li {
  margin: 0.2rem 0 0.2rem 0;
}

.sidebar-icon {
  width: 1.5rem;
}

.sidebar-label {
  margin-left: 0.2rem;
}

.project-icon {
  width: 1rem;
}

.project-name {
  margin-left: 0.1rem;
}

.project-edit-button {
  margin-left: auto;
}

.project-delete-button,
.project-edit-button {
  opacity: 0;
  pointer-events: auto;
}

.project:hover > .project-delete-button,
.project:focus > .project-delete-button,
.project:hover > .project-edit-button,
.project:focus > .project-edit-button,
.project-delete-button:focus,
.project-edit-button:focus,
.project-edit-button:has(+ .project-delete-button:focus),
.project-edit-button:focus + .project-delete-button {
  opacity: 1;
}

main {
  display: flex;
  justify-content: center;
}

.main-content {
  flex: 1;
  max-width: 100ch;
  min-width: 40ch;
  align-items: center;
}

.filter-title {
  margin-bottom: 2rem;
}

.filter-title > h1 {
  margin-bottom: 1rem;
}

.task {
  display: grid;
  border-bottom: 1px solid lightgray;
  padding: 0.4rem;
  position: relative;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content minmax(1rem, 1fr) min-content;
  column-gap: 0.4rem;
}

.task:hover {
  background: lightgrey;
}

.tasks > li:first-child {
  border-top: 1px solid lightgray;
}

.task-completed-button {
  align-self: start;
  width: 1.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: none;
  border: 1px solid black;
  grid-row: 1;
  grid-column: 1;
  place-self: center;
}

.task-delete-button,
.task-completed-button {
  place-self: center;
}

.task-completed {
  background: black;
}

.task-completed-button:hover {
  background: darkgrey;
}

.task-descr {
  grid-column: 2 / 4;
}

.task-date-project {
  grid-column: 2 / 4;
  display: flex;
  justify-content: space-between;
}

.popup-and-dim {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  aspect-ratio: 1;
  background-color: var(--amber-100);
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  pointer-events: auto;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  flex: 1;
}

.popup-name-descr {
  display: flex;
  flex-direction: column;
}

.popup-name {
  font-size: 1.2rem;
  font-weight: 800;
}

.popup-descr {
  margin-top: 0.2rem;
}

.popup-task-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.popup-ok,
.popup-cancel {
  align-self: flex-end;
  padding: 0.2rem 1rem;
  margin-top: auto;
}

.popup-task-info > div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-task-info label {
  margin-bottom: 0.1rem;
}

#dim-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}
